---
- name: Import Remi GPG keys (all years, optional but recommended)
  ansible.builtin.rpm_key:
    state: present
    key: "{{ item }}"
  loop:
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2017"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2018"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2019"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2020"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2021"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2022"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2023"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2024"
    - "https://rpms.remirepo.net/RPM-GPG-KEY-remi2025"
  tags: remi

- name: Install Remi repository (idempotent)
  ansible.builtin.dnf:
    name: "{{ remi_release_rpm_url }}"
    state: present
    disable_gpg_check: false
    update_cache: true
  tags: remi

- name: Make sure DNF metadata is fresh
  ansible.builtin.dnf:
    name: "*"
    state: latest
    update_only: true
    update_cache: true
  changed_when: false
  tags: remi
